footer {
  background-color: #333;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;

  .company-logo {
    width: 300px;
  }

  .imprint-btn {
    font-size: 20px;
    transition: all 100ms ease-in;
    border-radius: 25px;
    padding: 8px;
    &:hover {
      color: black;

      background-color: whitesmoke;
      font-weight: bold;
    }
  }
}

a {
  text-decoration: none;
  color: whitesmoke;
}
