<section class="menu" id="menu">
  <h2 class="headline-section">Our menu</h2>
  <div class="food-and-pricing">
    <div class="foods">
      <img
        src="./../../../assets/img/3_section_our_menu/Png/R1.png"
        alt="Tonkotsu Ramen"
      />
      <table>
        <tbody>
          <tr>
            <th>Tonkotsu Ramen</th>
          </tr>
          <tr>
            <td>Chicken</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td>Beef</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>Shrimp</td>
            <td>13.95€</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="foods food-right">
      <table>
        <tbody>
          <tr>
            <th>Spicy Miso Ramen</th>
          </tr>
          <tr>
            <td>Chicken</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td>Beef</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>Shrimp</td>
            <td>13.95€</td>
          </tr>
        </tbody>
      </table>
      <img
        src="./../../../assets/img/3_section_our_menu/Png/R2.png"
        alt="Spicy Miso Ramen"
      />
    </div>
    <div class="foods">
      <img
        src="./../../../assets/img/3_section_our_menu/Png/R3.png"
        alt="Shio Ramen"
      />
      <table>
        <tbody>
          <tr>
            <th>Shio Ramen</th>
          </tr>
          <tr>
            <td>Chicken</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td>Beef</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>Shrimp</td>
            <td>13.95€</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
