<section class="order">
  <h2 class="headline-section">How to order</h2>
  <div class="order-instruction-container">
    <div class="order-step">
      <img
        src="./assets/img/2_section_how_to_order/PNG/noodle.png"
        alt="noodle bowl"
      />Pick your
      <div>noodle</div>
    </div>
    <div class="order-step">
      <img
        src="./assets/img/2_section_how_to_order/PNG/broth.png"
        alt="noodle bowl"
      />Pick your
      <div>broth</div>
    </div>
    <div class="order-step">
      <img
        src="./assets/img/2_section_how_to_order/PNG/egg.png"
        alt="noodle bowl"
      />Add your
      <div>toppings</div>
    </div>
  </div>
</section>
