<nav class="nav">
  <img
    src="../../../assets/img/1_hero/PNG/sakura_logo.png"
    alt="sakura logo"
    class="logo"
  />
  <div class="nav-links-wrapper">
    <a href="#menu" class="nav-links display-mobile-none">menu</a>
    <a href="#findUs" class="nav-links display-mobile-none">locations</a>
    <a href="" class="nav-links display-mobile-none">about</a>
    <a href="tel:+17654564534" class="nav-links phone-btn">
      <img
        src="../../../assets/img/1_hero/PNG/phone.png"
        alt="phone"
        class="phone"
      />0176 54564534
    </a>
  </div>
</nav>
